<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Cubecart Automation TestNG Framework">
    <test name="Google test automation" >

        <classes>
            <class name="cubecarttest.MultiBrowser">
                <methods>
                    <include name="multipleWindowRobotFrameworkSiteTest"/>
                    <include name="multipleWindowTest"/>
                </methods>
            </class>
        </classes>

    </test>


</suite>